html,body {
    margin: 0;
    padding:0;
}

#container {
    background-color: red;
    max-width: 100em;
    height: 40vh;
    margin: 0 auto;
}

#character {
    width: 50px;
    height: 70px;
    background-color: blue;
    position: relative;
    top: 426px;
}


@keyframes jump {
    0%{top: 426px;}
    30%{top: 346px;}
    70%{top: 346px;}
    100%{top: 426px;}
}

.animate {
    animation: jump 500ms;
}

#block {
    width: 50px;
    height: 50px;
    background-color: purple;
    position: relative;
    top: 376px;
    left: 1550px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0%{left: 1550px;}
    100%{left: -40px;}
}